#screengrab_bar {
    background: url("chrome://screengrab/skin/screengrab_icon.gif") 0 no-repeat;
}

.screengrab_box {
  background-color: #ffff00;
  border: 1px solid #000000;
  color: #000000;
  padding: 0;
  position: absolute;
}

.screengrab_bar {
  background-color: #008080;
  color: #ffffff;
  font-weight: bold;
  padding: 2px 1em 2px 1em;
}

.screengrab_content {
  padding: 1em;
}

.screengrab_backgroundOverlay { 
  background: rgba(255, 20, 20, .25);
  position: fixed; 
  z-index: 4721; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.screengrab_boxOverlay { 
  z-index: 4726; 
  background: rgba(255, 255, 255, .5);
  border: 2px solid #F00;
  position: absolute;
}

#scg-pref-window {
    max-width: 45em;
    width: 40em;
    height: 21em;
}

#filenamePatternExamples {
    max-width: 35em;
    min-height: 6em;
    overflow: auto;
}
